@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-background: #4e4f80;
    --clr-text:#ffffff;
    --clr-secondary-text:#6d83ff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body{
    background: var(--clr-background);
    color: var(--clr-text)

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 1%, 1%;
    background: transparent;
    display: flex;
    
    align-items: center;
    z-index: 100;
    

}

.logo {
    justify-items: left;
    font-size: 30px;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 600;
    margin-left: 1%;
}

.box {
    justify-items: center;
    font-size: 10px;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    justify-items: right;
    margin-right: 1%;
}
.navbar a{
    font-size: 16px;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active{
    color: var(--clr-secondary-text);

}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}